*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	color: white;
	/* white, #FFFFFF */
	margin: 0;
	font-family: 'Input Mono Narrow';
	background: url(../../IMG/sfondo.png) round;
}

nav {
	box-sizing: border-box;
	border: 1px rgba(253, 250, 250, 0.25) solid;
	position: fixed;
	width: 100%;
	height: 100px;

	background: linear-gradient(253.09deg, rgba(0, 122, 255, 0.25) -7.53%, rgba(88, 86, 214, 0.1875) 97.04%);
	backdrop-filter: blur(25px);

	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}

ul {
	margin: 0 auto;
}

ul li {
	list-style-type: none;
	margin: 20px;
	padding: 0;
	float: left;
}

a {
	text-decoration: none;
	color: white;
}

#logo img {
	margin: 2% 0% 0% 8%;
	width: 70%;
}

#link {
	display: flex !important;
	flex-basis: auto;
	align-content: center;
	align-items: center;
}

p {
	margin: 3em 0 3em 0;
	max-width: 70em;
	font-size: 12pt;
}

h1 {
	margin: 0;
	font-size: 295px;
	font-family: 'Hoverunit';

}

h2 {
	font-family: 'Hoverunit';
	font-style: normal;
	font-weight: 400;
	font-size: 78px;
	margin: 15% 0% 0% 0%;
}

#viola {
	color: rgba(193, 140, 255, 1);
}

h4 {
	margin: 0;
	font-weight: bold;
}

header,
section {
	display: grid;
	grid-template-columns: 2fr 2fr;
	margin-bottom: 2em;
	padding-top: 0.25em;
}

.filetto {
	border-top: solid 1px white;
}



img {
	width: 95%;
}

.titolo-sezione {
	margin-right: 1em;
}

/*.contenuto-sezione {} */

.contenitore {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 15%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.m15 {
	margin: 15% 0%;
}

.pm {
	margin: 12em 12em 3em 12em;
}

footer {
	box-sizing: border-box;
	border: 1px rgba(253, 250, 250, 0.25) solid;
	width: 100%;
	height: 300px;
	

	background: linear-gradient(253.09deg, rgba(0, 122, 255, 0.25) -7.53%, rgba(88, 86, 214, 0.1875) 97.04%);
	backdrop-filter: blur(25px);

	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
}

/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {

	header,
	section {
		grid-template-columns: 1fr;
	}

	.contenitore {
		width: 100%;
	}

	.contenuto-sezione {
		width: 100%;
	}

	.titolo-sezione {
		width: 100%;
	}
}